agency: Agency
agency-contact-center: Agency Contact Center
agency-telephone: (800) 555-GOVT
agency-email: info@agency.gov

title: Project title # used in the header and title tag
tagline: A short description, used in the title tag when page.title is not defined
description: >-
  A longer description used for the description meta tag. Appears in document head
  meta (for Google search results) and in feed.xml site description. Also a fallback
  for pages without their own description. Also part of a page's title tag if neither
  page.title nor site.tagline is defined.

### Build settings ###

baseurl: "/template-jekyll-uswds" # the subpath of your site, e.g. /blog
url: "https://navapbc.github.io" # base hostname & protocol, e.g. http://example.com

plugins:
  - jekyll-feed
  - jekyll-seo-tag

# There's no need to copy all 2K+ USWDS asset. The usa-icons/ are packaged
# into the SVG sprite (prefer using it). However, since img src attributes
# don't use a sprite, each icon using this method must be explicitly included
# individually in the assets directory.
exclude:
  - assets/uswds/img/favicons
  - assets/uswds/img/material-icons
  - assets/uswds/img/material-icons-deprecated
  - assets/uswds/img/usa-icons/*
  - assets/uswds/img/usa-icons-bg/*
  - assets/uswds/img/uswds-icons/*

include:
  - assets/uswds/img/usa-icons/close.svg
  - assets/uswds/img/usa-icons/facebook.svg
  - assets/uswds/img/usa-icons/twitter.svg
  - assets/uswds/img/usa-icons/instagram.svg
  - assets/uswds/img/usa-icons/youtube.svg
  - assets/uswds/img/usa-icons/rss_feed.svg
  - assets/uswds/img/usa-icons/expand_more.svg
  - assets/uswds/img/usa-icons-bg/search--white.svg
